---
---
<footer class="bg-transparent text-[var(--slate)] text-center py-8">
    <div class="container mx-auto">
        <p class="font-mono text-sm">Built by Innotec</p>
        <p class="font-mono text-xs mt-1">Design inspired by Brittany Chiang</p>
    </div>
</footer>